.neon-disabled {
  // background: #f5f5f5;
  color: #ddd;
  cursor: not-allowed;
  box-shadow: none;
  /* &:hover {
    background-color: #f5f5f5;
  } */
  > * {
    pointer-events: none;
  }
}

.neon-bg {
  color: #fff;
  background: linear-gradient(183deg, rgba(141, 35, 46, 0.5) 1%, rgba(141, 35, 46, 0) 60%),
    linear-gradient(
      250deg,
      rgba(141, 35, 46, 0) 21%,
      rgba(141, 35, 46, 0.2) 20%,
      rgba(11, 35, 47, 0.2) 50%
    ),
    linear-gradient(
      250deg,
      rgba(141, 35, 46, 0) 23%,
      rgba(141, 35, 46, 0.2) 20%,
      rgba(11, 35, 47, 0.2) 50%
    ),
    linear-gradient(
      250deg,
      rgba(141, 35, 46, 0) 25%,
      rgba(141, 35, 46, 0.2) 20%,
      rgba(11, 35, 47, 0.2) 50%
    );

  background-color: #0b232f;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}
.dark-bg {
  color: #fff;
  background-image: radial-gradient(ellipse at bottom, #1d2a38 0%, #0b0d13 120%);
  // background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 120%);
}

.neon-shadow {
  box-shadow: 0 0 10px rgba(#4995dd, 0.3);
}
.neon-shadow-lg {
  box-shadow: 0 0 5px 2px rgba(#4995dd, .7);
}

.neon-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
