@import '../../../styles/variables.less';
@import '../../../styles/global.less';
@import '../../../styles/mixins.less';

/* [id*='modal-'] .@{prefix}-modal{

} */

.@{prefix}-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: inline-flex;
  flex-direction: column;

  width: 30rem;
  min-width: 5rem;
  // height:10rem;
  min-height: 5rem;
  border-radius: 1rem;
  overflow: hidden;
  animation-duration: 0.5s;
  .dark-bg();
  &-title {
    padding: 1rem 2rem 0 1rem;
    font-size: 20px;
    overflow: hidden;
  }
  &-body {
    padding: 2rem;
    flex: 1;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    min-height: 2rem;
  }
  &-btn {
    margin: 1rem;
    padding: 0.5rem 1rem !important;
  }
  &-invisible {
    pointer-events: none;
  }
}
.@{prefix}-mask{
  position: fixed;
  top: 0;
  left: 0;
  z-index:1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}
.@{prefix}-icon-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}