@import '../../../styles/variables.less';
@import '../../../styles/global.less';
@import '../../../styles/mixins.less';

[class$='dumi-default-previewer-demo'] {
  .@{prefix}-input-wrapper{
    margin: 0 2rem 2rem 0;
  }
}

.@{prefix}-input {
  padding: 0.4rem 0.5rem;
  outline: 0;
  .dark-bg();
  border: 0;
  color: #fff;
  transition: 0.7s;
  .neon-shadow();
  &-wrapper{
    display: inline-block;
    position: relative;
  }
  &-disabled{
    .neon-disabled();
    opacity: 0.8;
  }
  &-icon-close{
    position: absolute;
    top: 50%;
    right:0.5rem;
    transform: translateY(-45%);
    cursor: pointer;
  }
  &:focus{
    .neon-shadow-lg();
  }
  &::placeholder {
    color: #eee;
  }
  &::-ms-reveal{
    display: none;
  }
}
